/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --white-color: #ffffff;
  --black-color: black;
  --rose-color: #f42a53;
  --lightrose-color:#fef2f4;
  --save-color:#5bd322;
  --filter-color:#FFA430;
  --mainfilter-color:#EFe9eb;

  
  /*===== Font and typography =====*/
  --body-font: 'sofiapro';
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

thead.bg-main {
  background-color: var(--rose-color) !important; /* Example primary background color */
  color: #fff !important; /* Example text color */
}
/*===== BASE =====*/
*,::before,::after{ 
  box-sizing: border-box;
}
html{
  background-color:var(--lightrose-color);

}
body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  
}
#body-pd{
  background-color:var(--lightrose-color);

}
a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--rose-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--rose-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--white-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--white-color);
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .1rem 0 .1rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--rose-color);
}

.nav__logo-name{
  color: var(--rose-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--black-color);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--rose-color);
}

.nav__icon{
  font-size: 1.25rem;
}
/*nav-dropdown*/


/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);

}

/*Active links*/
.active{
  color: var(--white-color);
  background-color: var(--rose-color);
  border-radius: 5px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--rose-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    background-color: var(--lightrose-color);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    background-color: var(--lightrose-color);

  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
    
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
    
  }
}

.wrapper-section {
  margin-top: 80px; /* Adjust according to your header height */
  /* padding: 20px; */
  background-color:var(--lightrose-color);
  /* border: 1px solid #cccccc; */
  /* border-radius: 5px; */
}

.container-fluid {
  padding: 20px; /* Adjust padding inside the wrapper as needed */

}

/* Table Button start */
.cust {
  background-color: var(--rose-color) !important; /* Example primary background color */
  color: #fff !important; /* Example text color */
  border: none;
  padding: 1px 5px !important;
  cursor: pointer;
  border-radius: 4px !important;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.cust:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}
/* Table Button End */


/* Create user*/
/* divider*/
.divider {
  border-left: 1px solid #ddd;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 0;
 margin-top: 10px;

}
.card1{
  border-radius: 20px;
}
.input-box{
  padding: 10px ;
}
/*Basic Info*/

.button{
  background-color: green;
  color: white;
  border:none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 15px;
}



/* Permission*/

.form-check-input {
  margin-right: 10px;
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input {
  width: 20px;
  height: 18px;
  margin-left: 8px !important;
}
.input:checked {
  background-color: green;
  border-color: green;
}

.form-row {
  padding-left: 30px !important;
}



/*Operation Admin*/
.form-group{
 padding: 30px !important;
}
.save_btnn{
  background-color:var(--save-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  margin-top: 10px;
}
.create_btn{
  background-color:var(--rose-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px ;
  margin-left: 30px;
}
.fil_btn{
  background-color:var(--filter-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  margin-top: 10px;
 
}
.cl_btn{
  background-color:var(--rose-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  margin-top: 10px;
 
}
.head{
  font-size: 18px;
  padding: 0px!important;
}
.idname{
  padding:15px;
}
.filter_btnn{
  background-color:var();
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
 
}
thead{
  background-color: var(--rose-color);
  color: white;
}
tbody{
  background-color: white;
}
.active-box{
  margin-left: 10px !important;
}
.modal-lg-custom {
  max-width: 100%; /* Adjust as needed */
}
.line{
  border: 1px solid rgb(214, 212, 212);
}

.modal-dialog-custom {
  max-width: 100%; /* Adjust the width as needed */
  width: 100%;
}

.l-head{
font-size: 2px;
}